<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Video:</strong> This block allows you to diplay a video. Use the HTML button in the editor bar, then insert your YouTube embed code. Remove the height and width properties of the video. If you don't want to use thise block, simply delete the video that is there. There is an optional field for a description to the right.</p>
  </div>
</r:edit_mode_only>
