<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Profiles:</strong> This takes a <code>profiles_id</code>, loops through children of the parent that matches the ID, and pulls in content to create profile sub-features. Each profile page you wish featured must be labelled <code>feature</code>.</p>
  </div>
</r:edit_mode_only>
