<r:edit_mode_only>
  <div class="wvu-instructions">
    <strong>Instructions for Gallery:</strong> This grabs photos labeled with this page&rsquo;s slug + &lsquo;-gallery&rsquo; e.g. &lsquo;back-page-gallery.&rsquo;
  </div>
</r:edit_mode_only>
