<r:edit_mode_only>
  <div class="wvu-instructions">
    <p><strong>Instructions for Social Media Widget:</strong> Enter the URLs of each social media account you wish to link to. Delete the default content of those you do not wish to link to.</p>
  </div>
</r:edit_mode_only>
