@mixin wvu-header-max-width() {
  max-width: 9em !important;
}

@mixin helvetica-neue() {
  font-family: $helvetica-neue-font-stack !important;
}

@mixin helvetica-neue-bold() {
  font-family: $helvetica-neue-bold !important;
  font-weight: bold !important;
}

@mixin helvetica-neue-light() {
  font-family: $helvetica-neue-light !important;
  font-weight: normal !important;
  -webkit-font-smoothing: antialiased !important;
  .fonts-loaded & {
    font-family: $helvetica-neue-light !important;
  }
}

// NOTE: You must include the fonts.com script for the Iowan web font to use Iowan as you see here.
@mixin iowan-old-style() {
  font-family: $iowan-old-style !important;
  font-weight: normal;
  line-height: $wvu-traditional-audience-line-height !important;
  -webkit-font-smoothing: antialiased !important;
}

@mixin iowan-old-style-italic() {
  font-family: $iowan-old-style-italic !important;
  font-weight: normal !important;
  line-height: $wvu-traditional-audience-line-height !important;
  -webkit-font-smoothing: antialiased !important;
}

@mixin iowan-old-style-black() {
  font-family: $iowan-old-style-black !important;
  font-weight: normal;
  line-height: $wvu-traditional-audience-line-height !important;
  -webkit-font-smoothing: antialiased !important;
}

@mixin iowan-old-style-black-italic() {
  font-family: $iowan-old-style-black-italic !important;
  font-weight: normal !important;
  line-height: $wvu-traditional-audience-line-height !important;
  -webkit-font-smoothing: antialiased !important;
}

@mixin wvu-shout() {
  font-family: $wvu-shout-font-family !important;
  line-height: $wvu-shout-line-height !important;
  text-transform: uppercase !important;
}

@mixin wvu-first-line-gold() {
  &:first-line {
    color: $wvu-gold !important;
  }
}

@mixin wvu-quote() {
  &:before {
    @include wvu-shout();
    color: $wvu-gold;
    content: '“';
    display: block;
    font-size: 3rem;
  }
}
