---
layout: default
custom_data_attributes:
- agenda_id
- alternate_url
- backpage_has_sidebar
- backpage_has_subnav
- backpage_header
- backpage_header_badge
- bgcolor_adverts
- bgcolor_backpage
- bgcolor_calendar_widget
- bgcolor_diptych
- bgcolor_diptych_2
- bgcolor_diptych_3
- bgcolor_featurettes
- bgcolor_featurettes_2
- bgcolor_gallery
- bgcolor_lede_text
- bgcolor_media_object
- bgcolor_pentaptych
- bgcolor_pentaptych_2
- bgcolor_pentaptych_3
- bgcolor_polyptych
- bgcolor_profiles
- bgcolor_profiles_index
- bgcolor_quadriptych
- bgcolor_quadriptych_2
- bgcolor_quadriptych_3
- bgcolor_quicklinks
- bgcolor_social_media
- bgcolor_super_nav
- bgcolor_testimonials
- bgcolor_triptych
- bgcolor_triptych_2
- bgcolor_triptych_3
- bgcolor_twitter
- bgcolor_video
- calendar_url_page
- cards_id
- directory_id
- hero_has_video
- hero_text_alignment
- hero_vignetting
- jquery_defer_page
- link_text
- polyptych_items
- profile_quote
- profile_quote_author
- profiles_id
- search_action
- search_index_id
- show_instructions
- slot_01
- slot_02
- slot_03
- slot_04
- slot_05
- slot_06
- slot_07
- slot_07
- slot_08
- slot_09
- slot_10
- staff_directory_id
- testimonials_id
- thumbnail_alt
- thumbnail_url
- thumbnail_url_sq
---

<r:partial name="patterns/wvu-backpage-partials--top" />

<div class="wvu-container">

  <main id="maincontent" class="main main--wide">

    <r:edit_mode_only>
      <strong>Start Time:</strong><br>
    </r:edit_mode_only>
    <r:editable_region name="start-time">
      8:00 a.m.
    </r:editable_region>
    <r:edit_mode_only>
      <strong>End Time:</strong><br>
    </r:edit_mode_only>
    <r:editable_region name="end-time">
      10:00 a.m.
    </r:editable_region>
    <r:edit_mode_only>
      <strong>Description:</strong><br>
    </r:edit_mode_only>
    <r:editable_region name="description">
      Event Description.
    </r:editable_region>
  </main>

</div> <!-- /.wvu-container -->
