<section class="py-5">
  <div class="container">
    <ul class="wvu-profiles-index__profiles">
      <r:if expr="{{ NOT(BLANK(profiles_id)) }}">
        <r:get_page id="{$profiles_id}">
          <r:partial name="patterns/wvu-profiles__loop" />
        </r:get_page>
      </r:if>
      <r:if expr="{{ BLANK(profiles_id) }}">
        <r:partial name="patterns/wvu-profiles__loop" />
      </r:if>
    </ul>
  </div>
</section>

<r:partial name="patterns/instructions/wvu-profiles-index" theme="Code" />
