<div class="wvu-masthead wvu-masthead--<r:site:id /> wvu-masthead--<r:site:data name="masthead_color" /> bg-wvu-blue <r:files:each labels="masthead-logo" limit="1" types="image" random="true">wvu-masthead--blue</r:files:each>">
  <div class="container">
    <div class="row">
      <div class="align-self-center col">
        <!-- In Edit Mode, hide the real version of the lockup and co-brand, since they link elsewhere and therefore can’t be edited -->
        <r:edit_mode_only>
          <div class="d-none">
        </r:edit_mode_only>
            <a class="d-flex position-relative my-3" href="/"><div class="wvu-logo-lockup text-white"><r:site:data name="masthead_title" /></div><r:if v1="{$has_co_brand}" v2="true" op="="><div class="wvu-co-branding d-inline-block align-self-center mx-2 p-2 text-white"><r:page:content name="co-brand" scope="site">Admissions</r:page:content></div></r:if></a>
        <!-- close the <div> for the d-none class above -->
        <r:edit_mode_only>
          </div>
        </r:edit_mode_only>
        <!-- In Edit Mode, display a version of the lockup and co-brand that does not link to anything, so they can be edited -->
        <r:edit_mode_only>
          <a class="d-flex position-relative my-3"><div class="wvu-logo-lockup text-white"><r:site:data name="masthead_title" /></div><r:if v1="{$has_co_brand}" v2="true" op="="><div class="wvu-co-branding d-inline-block align-self-center mx-2 p-2 text-white"><r:editable_region name="co-brand" scope="site">Admissions</r:editable_region></div></r:if></a>
        </r:edit_mode_only>
      </div>
      <div class="col-12 col-md-4 align-self-center d-flex justify-content-md-end mb-3 mb-md-0">
        <r:if expr="{{ NOT(BLANK(apply_link_1)) }}">
          <a href="<r:site:data name="apply_link_1_url" />" class="btn btn-outline-wvu-accent--light-blue"><r:site:data name="apply_link_1" /></a>
        </r:if>
        <r:if expr="{{ NOT(BLANK(apply_link_2)) }}">
          <a href="<r:site:data name="apply_link_2_url" />" class="btn btn-outline-wvu-accent--orange ml-1"><r:site:data name="apply_link_2" /></a>
        </r:if>
        <r:if expr="{{ NOT(BLANK(apply_link_3)) }}">
          <a href="<r:site:data name="apply_link_3_url" />" class="btn btn-outline-wvu-gold ml-1"><r:site:data name="apply_link_3" /></a>
        </r:if>
      </div>
    </div>
  </div>
</div>
