<r:if expr="{{ NOT(BLANK(slot_01)) }}">
  <r:set_var name="patternName1">
    patterns/wvu-<r:page:data name="slot_01" />-<r:page:data name="slot_01_number" /><r:if v1="{$slot_01_scope}" v2="1" op="=">--site</r:if>
  </r:set_var>

  <r:set_var name="loopBy"><r:page:data name="slot_01_loop_by" /></r:set_var>
  <r:set_var name="loopLabelsMatch"><r:page:data name="slot_01_loop_labels_match" /></r:set_var>
  <r:set_var name="loopOrder"><r:page:data name="slot_01_loop_order" /></r:set_var>

  <r:if v1="{$slot_01_show_hidden}" v2="1" op="=">
    <r:set_var name="showHidden">true</r:set_var>
  </r:if>
  <r:if v1="{$slot_01_show_hidden}" v2="1" op="!=">
    <r:set_var name="showHidden">false</r:set_var>
  </r:if>

  <r:partial name="{$patternName1}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_02)) }}">
  <r:set_var name="patternName2">
    patterns/wvu-<r:page:data name="slot_02" />-<r:page:data name="slot_02_number" /><r:if v1="{$slot_02_scope}" v2="1" op="=">--site</r:if>
  </r:set_var>

  <r:set_var name="loopBy"><r:page:data name="slot_02_loop_by" /></r:set_var>
  <r:set_var name="loopLabelsMatch"><r:page:data name="slot_02_loop_labels_match" /></r:set_var>
  <r:set_var name="loopOrder"><r:page:data name="slot_02_loop_order" /></r:set_var>

  <r:partial name="{$patternName2}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_03)) }}">
  <r:set_var name="patternName3">
    patterns/wvu-<r:page:data name="slot_03" />-<r:page:data name="slot_03_number" /><r:if v1="{$slot_03_scope}" v2="1" op="=">--site</r:if>
  </r:set_var>

  <r:set_var name="loopBy"><r:page:data name="slot_03_loop_by" /></r:set_var>
  <r:set_var name="loopLabelsMatch"><r:page:data name="slot_03_loop_labels_match" /></r:set_var>
  <r:set_var name="loopOrder"><r:page:data name="slot_03_loop_order" /></r:set_var>

  <r:partial name="{$patternName3}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_04)) }}">
  <r:set_var name="patternName4">
    patterns/wvu-<r:page:data name="slot_04" />-<r:page:data name="slot_04_number" /><r:if v1="{$slot_04_scope}" v2="1" op="=">--site</r:if>
  </r:set_var>

  <r:set_var name="loopBy"><r:page:data name="slot_04_loop_by" /></r:set_var>
  <r:set_var name="loopLabelsMatch"><r:page:data name="slot_04_loop_labels_match" /></r:set_var>
  <r:set_var name="loopOrder"><r:page:data name="slot_04_loop_order" /></r:set_var>

  <r:partial name="{$patternName4}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_05)) }}">
  <r:set_var name="patternName5">
    patterns/wvu-<r:page:data name="slot_05" />-<r:page:data name="slot_05_number" /><r:if v1="{$slot_05_scope}" v2="1" op="=">--site</r:if>
  </r:set_var>

  <r:set_var name="loopBy"><r:page:data name="slot_05_loop_by" /></r:set_var>
  <r:set_var name="loopLabelsMatch"><r:page:data name="slot_05_loop_labels_match" /></r:set_var>
  <r:set_var name="loopOrder"><r:page:data name="slot_05_loop_order" /></r:set_var>

  <r:partial name="{$patternName5}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_06)) }}">
  <r:set_var name="patternName6">
    patterns/wvu-<r:page:data name="slot_06" />-<r:page:data name="slot_06_number" /><r:if v1="{$slot_06_scope}" v2="1" op="=">--site</r:if>
  </r:set_var>

  <r:set_var name="loopBy"><r:page:data name="slot_06_loop_by" /></r:set_var>
  <r:set_var name="loopLabelsMatch"><r:page:data name="slot_06_loop_labels_match" /></r:set_var>
  <r:set_var name="loopOrder"><r:page:data name="slot_06_loop_order" /></r:set_var>

  <r:partial name="{$patternName6}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_07)) }}">
  <r:set_var name="patternName7">
    patterns/wvu-<r:page:data name="slot_07" />-<r:page:data name="slot_07_number" /><r:if v1="{$slot_07_scope}" v2="1" op="=">--site</r:if>
  </r:set_var>

  <r:set_var name="loopBy"><r:page:data name="slot_07_loop_by" /></r:set_var>
  <r:set_var name="loopLabelsMatch"><r:page:data name="slot_07_loop_labels_match" /></r:set_var>
  <r:set_var name="loopOrder"><r:page:data name="slot_07_loop_order" /></r:set_var>

  <r:partial name="{$patternName7}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_08)) }}">
  <r:set_var name="patternName8">
    patterns/wvu-<r:page:data name="slot_08" />-<r:page:data name="slot_08_number" /><r:if v1="{$slot_08_scope}" v2="1" op="=">--site</r:if>
  </r:set_var>

  <r:set_var name="loopBy"><r:page:data name="slot_08_loop_by" /></r:set_var>
  <r:set_var name="loopLabelsMatch"><r:page:data name="slot_08_loop_labels_match" /></r:set_var>
  <r:set_var name="loopOrder"><r:page:data name="slot_08_loop_order" /></r:set_var>

  <r:partial name="{$patternName8}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_09)) }}">
  <r:set_var name="patternName9">
    patterns/wvu-<r:page:data name="slot_09" />-<r:page:data name="slot_09_number" /><r:if v1="{$slot_09_scope}" v2="1" op="=">--site</r:if>
  </r:set_var>

  <r:set_var name="loopBy"><r:page:data name="slot_09_loop_by" /></r:set_var>
  <r:set_var name="loopLabelsMatch"><r:page:data name="slot_09_loop_labels_match" /></r:set_var>
  <r:set_var name="loopOrder"><r:page:data name="slot_09_loop_order" /></r:set_var>

  <r:partial name="{$patternName9}" />
</r:if>

<r:if expr="{{ NOT(BLANK(slot_10)) }}">
  <r:set_var name="patternName10">
    patterns/wvu-<r:page:data name="slot_10" />-<r:page:data name="slot_10_number" /><r:if v1="{$slot_10_scope}" v2="1" op="=">--site</r:if>
  </r:set_var>

  <r:set_var name="loopBy"><r:page:data name="slot_10_loop_by" /></r:set_var>
  <r:set_var name="loopLabelsMatch"><r:page:data name="slot_10_loop_labels_match" /></r:set_var>
  <r:set_var name="loopOrder"><r:page:data name="slot_10_loop_order" /></r:set_var>

  <r:partial name="{$patternName10}" />
</r:if>
