<r:set_var name="baseComponentName" value="quicklinks" />
<r:set_var name="componentNumber" value="3" />
<r:set_var name="componentScope" value="site" />
<r:set_var name="baseComponentURL">
  patterns/base/wvu-<r:var name="baseComponentName" />
</r:set_var>

<r:partial name="{$baseComponentURL}" />
