<r:comment><!-- List of labels that will allow us to assign a background image to the component --></r:comment>
<r:set_var name="bgurl">
  backpage-header-background
</r:set_var>

<div class="wvu-overflow-hidden pt-5 bg-wvu-neutral--dark-gray text-white wvu-bg-vignetting--80 wvu-bg-blend-mode-luminosity--80 wvu-bg-size-cover wvu-bg-position-center" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container position-relative wvu-z-index-content">
    <h1 class="<r:site:data name="classes_wvu-backpage-header__h1" />"><r:page:first_non_blank_attr names="alternate_name, name" /></h1>
    <r:page:if_has_content_for region="wvu-backpage-header__subhead" always_show_in_edit_mode="true">
      <p class="helvetica-neue"><r:page:content name="wvu-backpage-header__subhead" type="simple" /></p>
    </r:page:if_has_content_for>
  </div>
</div>
