<div class="wvu-event-agenda wvu-event-agenda--<r:site:id /> <r:page:data name="classes_wvu-event-agenda" />">
  <div class="wvu-event-agenda__container">

    <r:get_page id="{$agenda_id}">

      <h2><r:page:first_non_blank_attr names="alternate_name,name" /></h2>

      <r:children:each>

        <h3><r:page:first_non_blank_attr names="alternate_name,name" /></h3>

        <table>

          <r:children:each>
            <tr>
              <td>
                <strong><r:page:content name="start-time" /> - <r:page:content name="end-time" /></strong>
              </td>
              <td>
                <strong><r:page:name /></strong><br>
                <r:page:content name="description" />
              </td>
            </tr>
          </r:children:each>

        </table>
      </r:children:each>
    </r:get_page>

  </div>
</div>

<r:partial name="patterns/instructions/wvu-event-agenda" theme="Code" />
