<r:children:each>

  <li class="wvu-profiles-index__individual">

    <div class="row">
      <div class="col-md-4">
        <a href="<r:page:url />">
          <r:page:content name="wvu-profile__photo" />
        </a>
      </div>

      <div class="col-md-8">
        <h2 class="wvu-profiles-index__name"><a class="wvu-profiles-index__name-link" href="<r:page:url />"><r:page:first_non_blank_attr names="alternate_name,name" /></a></h2>
        <h3 class="wvu-profiles-index__job-title wvu-h5"><r:page:content name="wvu-profile__job-title" /></h3>
        <p class="wvu-profiles-index__phone-icon"><a class="wvu-profiles-index__phone" href="tel:<r:page:content name="wvu-profile__phone" />"><r:page:content name="wvu-profile__phone" /></a></p>
        <p class="wvu-profiles-index__email"><a href="mailto:<r:page:content name="wvu-profile__email-3" />"><r:page:content name="wvu-profile__email-3" /></a></p>
        <p class="wvu-profiles-index__short-description"><r:page:content name="wvu-profile__short-description" /></p>
        <r:page:if_has_content_for region="wvu-profile__quote">
          <blockquote>
            <r:page:content name="wvu-profile__quote" />
          </blockquote>
        </r:page:if_has_content_for>
        <r:page:if_has_content_for region="wvu-profile__button-content">
          <p class="wvu-profiles-index__button"><a class="button" href="<r:page:url />"><r:page:content name="wvu-profile__button-content" /></a></p>
        </r:page:if_has_content_for>
      </div>
    </div>

  </li> <!-- /.wvu-profile__individual -->
</r:children:each>
