<r:set_var name="baseComponentName" value="gallery-card-columns" />
<r:set_var name="componentNumber" value="4" />
<r:set_var name="componentScope" value="page" />
<r:set_var name="baseComponentURL">
  patterns/base/wvu-<r:var name="baseComponentName" />
</r:set_var>

<r:partial name="{$baseComponentURL}" />
