<nav class="wvu-nav navbar navbar-expand-lg p-lg-0 navbar-dark bg-dark flex-wrap">
  <div class="container py-1">

    <button class="navbar-toggler d-flex d-lg-none align-items-center" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mr-1"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/getting-started">Getting Started</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-ur-em">About UR/EM</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
          <div class="dropdown-menu aria-labelledby="navbarDropdown"">
            <a class="dropdown-item" href="/services">Services Home</a>
            <a class="dropdown-item" href="/services/campus-announcements">Campus Announcements</a>
            <a class="dropdown-item" href="/services/creative">Creative</a>
            <a class="dropdown-item" href="/services/infostations">InfoStations</a>
            <a class="dropdown-item" href="/services/marketing">Marketing</a>
            <a class="dropdown-item" href="/services/communications">Communications</a>
            <a class="dropdown-item" href="/services/editorial">Editorial</a>
            <a class="dropdown-item" href="/brand-and-trademark-licensing">Brand and Trademark Licensing</a>
            <a class="dropdown-item" href="/services/video-multimedia-production">Video &amp; Multimedia Production</a>
            <a class="dropdown-item" href="/services/website-design-development">Website Design &amp; Development</a>
            <a class="dropdown-item" href="/services/case-studies">Case Studies</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="brandGuideDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brand Guide</a>
          <div class="dropdown-menu" aria-labelledby="brandGuideDropdown">
            <a class="dropdown-item" href="/brand-guide">Brand Guide Home</a>
            <a class="dropdown-item" href="/brand-guide/the-power-of-wvu-s-brand">The Power of WVU’s Brand</a>
            <a class="dropdown-item" href="/brand-guide/brand-positioning">Brand Positioning</a>
            <a class="dropdown-item" href="/brand-guide/writing-with-the-brand-voice">Writing With the Brand</a>
            <a class="dropdown-item" href="/brand-guide/the-wvu-logo">The WVU Logo</a>
            <a class="dropdown-item" href="/brand-guide/college-wordmarks-sub-brands-and-other-marks">College Wordmarks and Sub Brands</a>
            <a class="dropdown-item" href="/brand-guide/go-first-and-let-s-go-taglines">Go First and Let’s Go Taglines</a>
            <a class="dropdown-item" href="/brand-guide/color">Color</a>
            <a class="dropdown-item" href="/brand-guide/type">Type</a>
            <a class="dropdown-item" href="/brand-guide/elements">Elements (Diagonal Line, Patterns, and Backgrounds)</a>
            <a class="dropdown-item" href="/brand-guide/photo">Photo</a>
            <a class="dropdown-item" href="/brand-guide/the-brand-in-action">The Brand in Action</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Brand and Trademark Licensing</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/brand-and-trademark-licensing">Brand and Trademark Licensing Home</a>
            <a class="dropdown-item" href="/brand-and-trademark-licensing/about">About</a>
            <a class="dropdown-item" href="/brand-and-trademark-licensing/become-licensed">Become Licensed</a>
            <a class="dropdown-item" href="/brand-and-trademark-licensing/trademark-protection">Trademark Protection</a>
            <a class="dropdown-item" href="/brand-and-trademark-licensing/fans">Fans</a>
            <a class="dropdown-item" href="/brand-and-trademark-licensing/student-groups">Student Groups</a>
            <a class="dropdown-item" href="/brand-and-trademark-licensing/faqs">FAQs</a>
            <a class="dropdown-item" href="/brand-and-trademark-licensing/university-departments-wvu-medicine">University Departments/WVU Medicine</a>
            <a class="dropdown-item" href="/brand-and-trademark-licensing/get-your-wvu-branded-product-approved">Get Your WVU Branded Product Approved</a>
            <a class="dropdown-item" href="/brand-and-trademark-licensing/guidelines-for-apparel-and-promotional-products">Guidelines for Apparel and Promotional Products</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/downloads">Downloads</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources for</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/resources">Resources Home</a>
            <a class="dropdown-item" href="/resources/communicators">Communicators</a>
            <a class="dropdown-item" href="/resources/recruiters-and-enrollment-management">Recruiters and Enrollment Management</a>
            <a class="dropdown-item" href="/resources/workshops-and-presentation-materials">Workshops and Presentation Materials</a>
            <a class="dropdown-item" href="/resources/web">Web</a>
            <a class="dropdown-item" href="/resources/style-guide">Style Guide</a>
            <a class="dropdown-item" href="/resources/statements-and-rankings">Statements and Rankings</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/contact">All Contacts</a>
            <a class="dropdown-item" href="/contact/vice-president-s-office">Vice President’s Office</a>
            <a class="dropdown-item" href="/contact/brand-and-trademark-licensing">Brand and Trademark Licensing</a>
            <a class="dropdown-item" href="/contact/communications">Communications</a>
            <a class="dropdown-item" href="/contact/communications-for-student-life">Communications for Student Life</a>
            <a class="dropdown-item" href="/contact/creative">Creative</a>
            <a class="dropdown-item" href="/contact/digital-services">Digital Services</a>
            <a class="dropdown-item" href="/contact/editorial">Editorial</a>
            <a class="dropdown-item" href="/contact/enrollment-management">Enrollment Management</a>
            <a class="dropdown-item" href="/contact/health-sciences">Health Sciences</a>
            <a class="dropdown-item" href="/contact/marketing">Marketing</a>
            <a class="dropdown-item" href="/contact/video">Video</a>
            <a class="dropdown-item" href="/contact/visitors-center">Visitors Center</a>
          </div>
        </li>
      </ul>

      <a class="fas fa-search text-white" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><span class="sr-only">Search</span></a>

    </div>

  </div>
  <div class="collapse multi-collapse bg-light py-4 w-100 text-white bg-wvu-neutral--black wvu-vignetting--20" id="multiCollapseExample1">
    <div class="container wvu-z-index-content">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <div class="row mb-2">
            <div class="col-md-12">
              <form class="form-inline w-100" action="//search.wvu.edu/search" method="get" role="search">

                <label for="q">
                  <span class="sr-only">Search</span>
                </label>

                <input id="sort" name="sort" type="hidden" value="date:D:L:d1" />
                <input id="output" name="output" type="hidden" value="xml_no_dtd" />
                <input id="ie" name="ie" type="hidden" value="UTF-8" />
                <input id="oe" name="oe" type="hidden" value="UTF-8" />
                <input id="proxystylesheet" name="proxystylesheet" type="hidden" value="default_frontend" />
                <input id="client" name="client" type="hidden" value="default_frontend" />

                <div class="input-group shadow-sm w-100">
                  <input id="q" class="form-control p-2" name="q" type="search" placeholder="Search" aria-label="Search">
                  <div class="input-group-append">
                    <button class="btn btn-primary px-3 px-lg-4" name="btnG" type="submit"><span class="fas fa-search h5 mb-0"><span class="sr-only">Search</span></span></button>
                  </div>
                </div>
                <div class="row pt-1">
                  <fieldset class="col-12">
                    <legend class="sr-only">
                      Would you like to search this site specifically, or all WVU websites?
                    </legend>
                    <div class="d-inline-block pr-2">
                      <input id="form-search__sitesearch" type="radio" name="as_sitesearch" value="<r:site:domain />" checked="checked" />
                      <label class="d-inline-block" for="form-search__sitesearch">Search this site</label>
                    </div>
                    <div class="d-inline-block">
                      <input id="form-search__wvusearch" type="radio" name="as_sitesearch" value="wvu.edu" />
                      <label class="d-inline-block" for="form-search__wvusearch">Search WVU</label>
                    </div>
                  </fieldset>
                </div>
              </form>
            </div>
          </div>
          <r:page:if_has_content_for region="search-content" always_show_in_edit_mode="true">
            <r:editable_region name="search-content" scope="site">
              <div class="row mt-3">
                <div class="col-md-6">
                  <h2 class="h5">Quicklinks</h2>
                  <ul class="list-unstyled">
                    <li class="d-block my-1">
                      <a href="#" class="text-white fas fa-arrow-circle-right">
                        <small>Quicklink</small>
                      </a>
                    </li>
                    <li class="d-block my-1">
                      <a href="#" class="text-white fas fa-arrow-circle-right">
                        <small>Quicklink</small>
                      </a>
                    </li>
                    <li class="d-block my-1">
                      <a href="#" class="text-white fas fa-arrow-circle-right">
                        <small>Quicklink</small>
                      </a>
                    </li>
                    <li class="d-block my-1">
                      <a href="#" class="text-white fas fa-arrow-circle-right">
                        <small>Quicklink</small>
                      </a>
                    </li>
                    <li class="d-block my-1">
                      <a href="#" class="text-white fas fa-arrow-circle-right">
                        <small>Quicklink</small>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <a href="https://placeholder.com">
                    <img class="shadow-sm" src="https://via.placeholder.com/960x640">
                  </a>
                </div>
              </div>
            </r:editable_region>
          </r:page:if_has_content_for>
        </div>
      </div>
    </div>
  </div>
</nav>
