// WVU Active Nav Link
//==================================================
// This just adds a gold bar to the top of the nav item that is active in your primary navigation.

.wvu-nav {
  position: relative;
  .active {
    background-color: transparent !important;
  }
  > ul {
    > li {
      > .active {
        &:before {
          border-top: 3px solid $wvu-gold;
          content: '';
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
    }
  }
}
