.text-underline {
  text-decoration: underline !important;
}

.wvu-p-max-width {
  max-width: $wvu-p-measure !important;
}

.wvu-text-first-line-gold {
  @include wvu-first-line-gold();
}

.wvu-quote, %wvu-quote {
  @include wvu-quote();
}

@each $quote-color, $text-color in $theme-colors {
  .wvu-quote--#{$quote-color} {
    @extend %wvu-quote;
    &:before {
      color: $text-color;
    }
  }
}

.wvu-header-max-width {
  @include wvu-header-max-width();
}

// NOTE: You must include the fonts.com script for the web fonts you see here.

.wvu-shout {
  @include wvu-shout();
}

.helvetica-neue {
  @include helvetica-neue();
}

.helvetica-neue-bold {
  @include helvetica-neue-bold();
}

.helvetica-neue-light {
  @include helvetica-neue-light();
}

.helvetica-neue-condensed-black {
  @include wvu-shout();
}

.iowan-old-style {
  @include iowan-old-style();
}

.iowan-old-style-italic {
  @include iowan-old-style-italic();
}

.iowan-old-style-black {
  @include iowan-old-style-black();
}

.iowan-old-style-black-italic {
  @include iowan-old-style-black-italic();
}
