.wvu-bg-none {
  background-image: none !important;
}

.wvu-bg-sm-none {
  @media (max-width: $wvu-bp-sm) {
    background-image: none !important;
  }
}

.wvu-bg-size-contain {
  background-size: contain !important;
}

.wvu-bg-size-cover {
  background-size: cover !important;
}
