.wvu-bg-blend-mode-lighten {
  @include wvu-bg-blend-mode(lighten);
}

.wvu-bg-blend-mode-luminosity, %wvu-bg-blend-mode-luminosity {
  @include wvu-bg-blend-mode(luminosity);
}

$i: 90;
@while $i > 0 {
  .wvu-bg-blend-mode-luminosity--#{$i} {
    @extend %wvu-bg-blend-mode-luminosity;
    &:before {
      opacity: $i * .01 !important;
    }
  }
  $i: $i - 10;
}
