<r:descendants order="asc" limit="250" by="alternate_name" labels="{$contentLabels}" labels_match="all">

  <r:set_var name="columnClasses">
    col-sm-6 col-md-3
  </r:set_var>

  <r:set_var name="placeholderThumbnailImg">
    <img src="<r:image_url name="flying-wv-placeholder.jpg" />" alt="Placeholder" class="rounded-circle shadow text-center w-50" />
  </r:set_var>

  <r:each>

    <r:page:if_has_content_for region="profile-1__quote">
      <!-- if we only have one profile, and are displaying it as a testimonial, we need to make the column wider -->
      <r:if v1="{$itemCount}" v2="1" op="=">
        <r:set_var name="columnClasses">
          col-lg-6 mx-auto
        </r:set_var>
      </r:if>
    </r:page:if_has_content_for>

    <r:set_var name="pathClasses">
      <r:replace match="\/" with=" "><r:page:path /></r:replace>
    </r:set_var>

    <r:set_var name="pathClasses">
      <r:replace match="{page:slug}" with=""><r:var name="pathClasses" /></r:replace>
    </r:set_var>

    <div class="grid-item col-md-3 <r:var name="pathClasses" /> <r:var name="isotope_classes" /> mb-4">

      <r:page:if_has_content_for region="profile-1__quote">

        <p class="wvu-quote text-center iowan-old-style h4">
          <r:page:content name="profile-1__quote" />
        </p>
        <r:if expr="{{ NOT(BLANK(thumbnail_url_sq)) }}">
          <div class="mb-1 text-center">
            <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:var name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><img src="<r:var name="thumbnail_url_sq" />/250x250.jpg" alt="<r:page:name />" class="rounded-circle shadow text-center w-25" ></a>
          </div>
        </r:if>
        <h3 class="helvetica-neue-light mb-1 text-center h5" id="<r:page:slug />-<r:page:id />"><r:page:first_non_blank_attr names="alternate_name,name" /></h3>
      </r:page:if_has_content_for>
      <r:page:unless_has_content_for region="profile-1__quote">
        <r:if expr="{{ NOT(BLANK(thumbnail_url_sq)) }}">
          <div class="mb-1 text-center">
            <img src="<r:var name="thumbnail_url_sq" />/250x250.jpg" alt="<r:var name="thumbnail_alt" />" class="rounded-circle shadow text-center w-50" >
          </div>
        </r:if>
        <r:if expr="{{ BLANK(thumbnail_url_sq) }}">
          <div class="mb-1 text-center">
            <r:var name="placeholderThumbnailImg" />
          </div>
        </r:if>
        <h3 class="iowan-old-style-italic mb-0 text-center" id="<r:page:slug />-<r:page:id />"><r:page:name /></h3>
        <r:page:if_has_content_for region="profile-1__title">
          <p class="helvetica-neue-light"><r:page:content name="profile-1__title" /></p>
        </r:page:if_has_content_for>
        <r:if expr="{{ NOT(BLANK(description)) }}">
          <p class="text-center iowan-old-style my-1">
            <r:var name="description" />
          </p>
        </r:if>
        <r:page:if_has_content_for region="profile-1__phone">
          <p class="mb-0"><small><span class="fas fa-phone"> <r:page:content name="profile-1__phone" /></span></small></p>
        </r:page:if_has_content_for>
        <r:page:if_has_content_for region="profile-1__email">
          <p class="mb-0"><small><a href="mailto:<r:page:content name="profile-1__email" />"><span class="fas fa-envelope"> <r:page:content name="profile-1__email" /></span></a></small></p>
        </r:page:if_has_content_for>
      </r:page:unless_has_content_for>

    </div>

  </r:each>

</r:descendants>
