

<r:edit_mode_only>
  <section class="px-2 px-md-5 py-2 mb-0 text-light bg-wvu-neutral--black text-monospace position-relative wvu-z-index-max">
    <p class="mb-0">
      <r:edit_mode_only><span class="d-inline-block badge badge-secondary">Utility classes for component:</span></r:edit_mode_only>
      <p>
        <r:editable_region name="{$componentClasses}" type="simple"></r:editable_region>
      </p>
    </p>
    <p class="text-muted mb-0 mt-1">
      <small>
        <r:yield name="{$defaultComponentClasses}">
          <strong>Default classes:</strong> <r:content />
        </r:yield>
      </small>
    </p>
    <a class="text-wvu-accent--orange" data-toggle="collapse" href="#multiCollapseExample<r:var name="componentName" />" role="button" aria-expanded="false" aria-controls="multiCollapseExample<r:var name="componentName" />">Hints</a>
    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample<r:var name="componentName" />">
          <div class="card card-body">
            <r:partial name="utilities/wvu-default-component-classes__ul" />
          </div>
        </div>
      </div>
    </div>
    <r:if v1="{$baseComponentName}" v2="featurettes" op="=">
      <div class="row">
        <div class="col-lg">
          <p class="mb-0">
            <r:edit_mode_only><span class="d-inline-block badge badge-secondary">Utility classes for items:</span></r:edit_mode_only>
            <p>
              <r:editable_region name="{$itemClasses}" type="simple"></r:editable_region>
            </p>
          </p>
          <p class="text-muted mb-0 mt-1">
            <small>
              <r:yield name="{$defaultItemClasses}">
                <strong>Default classes:</strong> <r:content />
              </r:yield>
            </small>
          </p>
        </div>
        <r:comment>
        <div class="col-lg">
          <p class="mb-0">
            <r:edit_mode_only><span class="d-inline-block badge badge-secondary">Utility classes for item headers:</span></r:edit_mode_only>
            <p>
              <r:editable_region name="{$itemHeaderClasses}" type="simple"></r:editable_region>
            </p>
          </p>
          <p class="text-muted mb-0 mt-1">
            <small>
              <r:yield name="{$defaultItemHeaderClasses}">
                <strong>Default classes:</strong> <r:content />
              </r:yield>
            </small>
          </p>
        </div>
        <div class="col-lg">
          <p class="mb-0">
            <r:edit_mode_only><span class="d-inline-block badge badge-secondary">Utility classes for item body copy:</span></r:edit_mode_only>
            <p>
              <r:editable_region name="{$itemBodyClasses}" type="simple"></r:editable_region>
            </p>
          </p>
          <p class="text-muted mb-0 mt-1">
            <small>
              <r:yield name="{$defaultItemBodyClasses}">
                <strong>Default classes:</strong> <r:content />
              </r:yield>
            </small>
          </p>
        </div>
        <div class="col-lg">
          <p class="mb-0">
            <r:edit_mode_only><span class="d-inline-block badge badge-secondary">Utility classes for buttons:</span></r:edit_mode_only>
            <p>
              <r:editable_region name="{$itemButtonClasses}" type="simple"></r:editable_region>
            </p>
          </p>
          <p class="text-muted mb-0 mt-1">
            <small>
              <r:yield name="{$defaultItemButtonClasses}">
                <strong>Default classes:</strong> <r:content />
              </r:yield>
            </small>
          </p>
        </div>
        <div class="col-lg">
          <p class="mb-0">
            <r:edit_mode_only><span class="d-inline-block badge badge-secondary">Featurettes button text:</span></r:edit_mode_only>
            <p>
              <r:editable_region name="{$componentReadMoreButtonText}" type="simple">Read More</r:editable_region>
            </p>
          </p>
          <p class="text-muted mb-0 mt-1">
            <small>
              <strong>Default button text:</strong> Read More
            </small>
          </p>
        </div>
        </r:comment>
      </div>
    </r:if>
  </section>
</r:edit_mode_only>
