<r:set_var name="componentClasses">
  wvu-<r:var name="componentName" />-classes
</r:set_var>

<r:set_var name="defaultComponentClasses">
  wvu-<r:var name="componentName" />-default-component-classes
</r:set_var>

<r:edit_mode_only>
  <section class="px-5 py-2 mb-0 text-light bg-wvu-neutral--black text-monospace position-relative">
    <p class="mb-0">
      <strong>Utility classes:</strong> <r:editable_region name="{$componentClasses}" type="simple" scope="site"></r:editable_region>
    </p>
    <p class="text-muted mb-0 mt-1">
      <small>
        <r:yield name="{$defaultComponentClasses}">
          <strong>Default classes:</strong> <r:content />
        </r:yield>
      </small>
    </p>
    <a class="text-wvu-accent--orange" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Hints</a>
    <div class="row">
      <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <div class="card card-body">
            <r:partial name="utilities/wvu-default-component-classes__ul" />
          </div>
        </div>
      </div>
    </div>
  </section>
</r:edit_mode_only>
