$wvu150-traditions-padding: 6%;

.wvu150-traditions {
  @include media-breakpoint-up(md) {
    overflow-x: hidden;
  }
}

.wvu150-traditions__container {
  position: relative;
  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.wvu150-traditions__copy {
  box-sizing: content-box;
  padding: 4em 0;
  position: relative;
  h2 {
    margin-top: 0;
  }
  @include media-breakpoint-up(md) {
    float: left;
    left: 50%;
    margin: 0 -999em 0 0;
    padding: $wvu150-traditions-padding 999em $wvu150-traditions-padding $wvu150-traditions-padding;
    width: 44%;
  }
}

.wvu150-traditions__photo {
  background-color: $black;
  background-position: 50% 50%;
  background-size: cover;
  min-height: 66vw;
  @include media-breakpoint-up(md) {
    float: left;
    left: 50%;
    margin-left: -50vw;
    min-height: 33vw;
    padding-left: 50vw;
    position: relative;
    width: 0;
  }
}

.wvu150-traditions__tradition--right {
  .wvu150-traditions__copy {
    @include media-breakpoint-up(md) {
      left: 0;
      margin: 0 0 0 -999em;
      padding: $wvu150-traditions-padding $wvu150-traditions-padding $wvu150-traditions-padding 999em;
    }
  }

  .wvu150-traditions__photo {
    @include media-breakpoint-up(md) {
      float: right;
      left: 0;
      margin-left: 0;
      padding-left: 0;
      margin-right: -50vw;
      padding-right: 50vw;
    }
  }
}
