// ---Import all the things!---
//    Pay attention to how you order your Sass files.
//    Variables & Utilities (mixins) should almost always come before Vendor & Partial files.

$background: $primary;
$border: white;

.wvu-youtube-playlist {
  @include list-unstyled();
  @include make-row();
}

.wvu-youtube-playlist__button {
  @include button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%));
}

.wvu-youtube-playlist__item {
  @include make-col-ready();
  @include media-breakpoint-up(md) {
    @include make-col(3);
  }
  margin-bottom: $spacer * 2;
  h2 {
    @include iowan-old-style-black();
    font-size: $h5-font-size;
    margin-bottom: $spacer / 2;
  }
  img {
    width: 100%;
  }
}

.wvu-youtube-playlist__item-image {
  margin-bottom: $spacer / 2;
}

.wvu-youtube-playlist__item-published {
  font-size: $small-font-size;
}

.wvu-youtube-playlist__pagination {
  @include list-unstyled();
}
