<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  ???
</r:content_for>

<r:set_var name="loopIdName">
  <r:var name="baseComponentName" />_<r:var name="componentNumber" />_id
</r:set_var>

<r:set_var name="loopId">
  <r:page:data name="{$loopIdName}" />
</r:set_var>

<r:set_var name="contentLabels">
  <r:page:slug />-<r:var name="componentName" />
</r:set_var>  <!-- Can we combine this with others like adverts, profiles? -->

<r:set_var name="roundedPhotos" value="false" />

<r:set_var name="readMoreButtonRegionName">
  read-more-<r:var name="baseComponentName" />-<r:var name="componentNumber" />
</r:set_var> <!-- so we can name the editable region that will determine the "Read More" text for each button -->

<r:set_var name="readMoreContent">
  <r:page:content name="{$readMoreButtonRegionName}" />
</r:set_var> <!-- This is the content that is entered into the custom "Read More" button. We can dynamically pull this in when displaying each button -->

<div class="py-5 <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container">

    <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
      <div class="mb-4 wvu-z-index-content">
        <r:editable_region name="{$componentHeader}" scope="{$componentScope}">
          <h2 class="display-3 wvu-shout">Featurettes Headline</h2>
          <p class="h3 helvetica-neue-light">Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <r:root>
      <r:descendants by="name" order="asc" labels="{$contentLabels}" labels_match="all">
        <r:set_var name="itemCount">
          <r:count />
        </r:set_var>
        <r:partial name="utilities/wvu-item-count" />
        <div class="row">

          <r:edit_mode_only>
            <r:each limit="1">
              <div class="<r:var name="columnClasses" /> mb-3 border border-wvu-accent--red">
                <r:if expr="{{ NOT(BLANK(thumbnail_url)) }}">
                  <div class="mb-1">
                    <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><img src="<r:page:data name="thumbnail_url" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url" />/960x640.jpg, <r:page:data name="thumbnail_url" />/586x286.jpg, <r:page:data name="thumbnail_url" />/381x255.jpg, <r:page:data name="thumbnail_url" />/286x191.jpg, <r:page:data name="thumbnail_url" />/279x186.jpg, <r:page:data name="thumbnail_url" />/217x145.jpg" sizes="960px, (min-width: 768px) 586px" alt="<r:page:data name="thumbnail_alt" />"></a>
                  </div>
                </r:if>
                <h3 class="iowan-old-style-italic mb-1" id="<r:page:slug />-<r:page:id />"><r:page:first_non_blank_attr names="alternate_name,name" /></h3>
                <p>
                  <r:if expr="{{ NOT(BLANK(description)) }}"><r:page:data name="description" /></r:if>
                </p>

                <r:page:if_has_content_for region="{$readMoreButtonRegionName}" always_show_in_edit_mode="true">
                  <a class="btn btn-primary text-white" aria-labelledby="<r:page:slug />-<r:page:id />"><r:editable_region name="{$readMoreButtonRegionName}" type="simple">Read More</r:editable_region></a>
                </r:page:if_has_content_for>

                <p class="bg-light mt-1 p-2"><small>This is the template the rest will follow. Edit the button text and utility classes to style. You can also set these globally in the site settings (add link). If you don’t want a button, delete the content.</small>
              </div>
            </r:each>
          </r:edit_mode_only>

          <r:each>

            <r:set_var name="contentIndex">
              <r:index />
            </r:set_var>

            <div class="<r:var name="columnClasses" /> mb-3 <r:edit_mode_only><r:if v1="{$contentIndex}" v2="1" op="=">d-none</r:if></r:edit_mode_only>">

              <div class="card bg-dark text-white mb-1 shadow">

                <r:if expr="{{ NOT(BLANK(thumbnail_url)) }}">
                  <img class="card-img" src="<r:page:data name="thumbnail_url" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url" />/960x640.jpg, <r:page:data name="thumbnail_url" />/586x286.jpg, <r:page:data name="thumbnail_url" />/381x255.jpg, <r:page:data name="thumbnail_url" />/286x191.jpg, <r:page:data name="thumbnail_url" />/279x186.jpg, <r:page:data name="thumbnail_url" />/217x145.jpg" sizes="960px, (min-width: 768px) 586px" alt="<r:page:data name="thumbnail_alt" />">
                </r:if>

                <r:if expr="{{ BLANK(thumbnail_url) }}">
                  <img class="card-img" src="https://via.placeholder.com/960x640" alt="Placeholder" />
                </r:if>

                <div class="card-img-overlay">
                  <h3 class="card-title iowan-old-style-italic h5" id="<r:page:slug />-<r:page:id />"><r:page:first_non_blank_attr names="alternate_name,name" /></h3>
                  <p class="card-text"><r:if expr="{{ NOT(BLANK(description)) }}"><r:page:data name="description" /></r:if></p>
                  <a class="btn btn-primary btn-sm" aria-labelledby="<r:page:slug />-<r:page:id />" href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><r:if expr="{{ NOT(BLANK(link_text)) }}"><r:page:data name="link_text" /></r:if><r:if expr="{{ BLANK(link_text) }}"><r:var name="readMoreContent" /></r:if></a>
                </div>

              </div>

            </div>

          </r:each>

        </div>

      </r:descendants>
    </r:root>

    <r:page:if_has_content_for region="{$componentPostscript}" always_show_in_edit_mode="true">
      <div class="mt-4 wvu-z-index-content">
        <r:editable_region name="{$componentPostscript}" scope="{$componentScope}">
          <p class="mb-0">Put additional info or <a href="#">links</a> here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

  </div>
</div>

<r:comment><!-- Allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
