<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<r:comment>
<!-- NOTE: This polyptych can be reused over and over. -->
<!-- You can use this partial multiple times on the same page by setting different... -->
<!-- ...`regionName__base` variables above each partial.  -->
<!-- You can also change the `polyptychItems` to be more than 4 if you like. -->
<!-- Always increase by 4. -->
<!-- Set the scope by defining the `$scope` variable to either `page` or `site`. -->
</r:comment>

<r:comment><!-- Count the number of polyptych items (based on page data), use to change adjust layout below --></r:comment>
<r:set_var name="itemCount">
  <r:page:data name="{$polyptychItemsDataName}" />
</r:set_var>

<r:comment><!-- Adjust layout based on item count i.e. add different classes based on the number of items --></r:comment>
<r:partial name="utilities/wvu-item-count" />

<div class="py-5">

  <div class="container wvu-z-index-content">

    <div class="row">
      <div class="col-md-8">
        <div class=" wvu-z-index-content">
          <h1 class="display-4 helvetica-neue-bold"><r:page:first_non_blank_attr names="alternate_name, name" /></h1>
          <p class="h3 helvetica-neue-light mt-3 mb-5"><r:page:data name="description" /></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="h4">
          <div class="position-relative mb-2"><div class="fas fa-arrow-circle-right position-absolute text-wvu-gold"></div><span class="d-block pl-3">Find a bug? <a href="https://github.com/wvuweb/wvu-design-system/issues">Create an issue</a>.</span></div>
          <div class="position-relative mb-2"><div class="fas fa-arrow-circle-right position-absolute text-wvu-gold"></div><span class="d-block pl-3">Have an idea for a new component? <a href="/contribute">Tell us</a>.</span></div>
        </div>
      </div>
    </div>

    <r:loop:each times="{$itemCount}">

      <r:comment><!-- So we can have multiple instances of this region on a page --></r:comment>
      <r:set_var name="wvuComponentComponent">
        <r:var name="componentName" />__component-<r:item />
      </r:set_var>

      <r:comment><!-- So we can have multiple instances of this region on a page --></r:comment>
      <r:set_var name="wvuComponentPartialName">
        <r:var name="componentName" />__component-partial-name-<r:item />
      </r:set_var>

      <r:comment><!-- So we can have multiple instances of this region on a page --></r:comment>
      <r:set_var name="wvuComponentCode">
        <r:var name="componentName" />__code-<r:item />
      </r:set_var>

      <r:comment><!-- So we can have multiple instances of this region on a page --></r:comment>
      <r:set_var name="wvuComponentDescription">
        <r:var name="componentName" />__description-<r:item />
      </r:set_var>

      <r:comment><!-- So we can have multiple instances of this region on a page --></r:comment>
      <r:set_var name="wvuComponentVersion">
        <r:var name="componentName" />__version-<r:item />
      </r:set_var>

      <r:comment><!-- So we can have multiple instances of this region on a page --></r:comment>
      <r:set_var name="wvuComponentDo">
        <r:var name="componentName" />__do-<r:item />
      </r:set_var>

      <r:comment><!-- So we can have multiple instances of this region on a page --></r:comment>
      <r:set_var name="wvuComponentDont">
        <r:var name="componentName" />__dont-<r:item />
      </r:set_var>

      <r:comment><!-- So we can have multiple instances of this region on a page --></r:comment>
      <r:set_var name="wvuImplementationNotes">
        <r:var name="componentName" />__notes-<r:item />
      </r:set_var>

      <r:comment><!-- So we can have multiple instances of this region on a page --></r:comment>
      <r:set_var name="wvuCodeToBeCopied">
        codeToBeCopied-<r:item />
      </r:set_var>

      <div class="shadow mb-4">

        <div class="p-3">
          <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Version of component:</span></r:edit_mode_only>
          <h2 class="font-weight-bold mb-2"><r:editable_region name="{$wvuComponentVersion}">Version A</r:editable_region></h2>

          <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Add CleanSlate partial name here:</span></r:edit_mode_only>
          <p><code class="d-inline">wvu-<r:page:slug />-<r:item /></code> <a tabindex="0" class="fas fa-question-circle text-muted" role="button" data-toggle="popover" data-trigger="focus" title="What’s this?" data-content="Use this name when referencing as a CleanSlate partial."><span class="sr-only">What’s this?</span></a></p>

          <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Add pattern here:</span></r:edit_mode_only>
          <r:editable_region name="{$wvuComponentComponent}">
            <div class="jumbotron jumbotron-fluid mb-0 wvu-overflow-hidden wvu-background-size-cover bg-wvu-neutral--black text-white wvu-bg-vignetting--80" style="background-image: url();">
              <div class="container position-relative wvu-z-index-content">
                <div class="row">
                  <div class="col col-md-6">
                    <h1 class="display-1 wvu-shout wvu-slash--gold">Hello, world.</h1>
                    <p class="lead py-2">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Call to Action</a>
                  </div>
                </div>
              </div>
            </div>
          </r:editable_region>
        </div>

        <div class="bg-light p-3">
          <button type="button" class="btn btn-sm btn-secondary float-right" data-container="body" data-toggle="popover" data-placement="top" data-content="Copied!" data-clipboard-target="#<r:var name="wvuCodeToBeCopied" />">Copy</button>
          <small><pre class="mb-0 wvu-overflow-hidden"><code class="output-<r:item />" id="<r:var name="wvuCodeToBeCopied" />"><r:page:content name="{$wvuComponentComponent}" /></code></pre></small>
        </div>

        <div class="row p-3">
          <r:page:if_has_content_for region="{$wvuComponentDo}" always_show_in_edit_mode="true">
            <div class="col-md-4">
              <h2 class="border-top border-wvu-accent--green pt-1">Do</h2>
              <r:editable_region name="{$wvuComponentDo}">
                <ul>
                  <li>List Item</li>
                </ul>
              </r:editable_region>
            </div>
          </r:page:if_has_content_for>
          <r:page:if_has_content_for region="{$wvuComponentDont}" always_show_in_edit_mode="true">
            <div class="col-md-4">
              <h2 class="border-top border-wvu-accent--red pt-1">Don’t</h2>
              <r:editable_region name="{$wvuComponentDont}">
                <ul>
                  <li>List Item</li>
                </ul>
              </r:editable_region>
            </div>
          </r:page:if_has_content_for>
          <r:page:if_has_content_for region="{$wvuImplementationNotes}" always_show_in_edit_mode="true">
            <div class="col-md-4">
              <h2 class="border-top border-wvu-neutral--black pt-1">Notes</h2>
              <r:editable_region name="{$wvuImplementationNotes}">
                <ul>
                  <li>List Item</li>
                </ul>
              </r:editable_region>
            </div>
          </r:page:if_has_content_for>
        </div>

      </div>

    </r:loop:each>

  </div> <!-- end container -->

</div> <!-- end wvu-polyptych -->

<r:comment><!-- Pull in component instructions and allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
