<r:partial name="patterns/base/wvu-component-head" />

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  wvu-background-size-cover wvu-bg-blend-mode-lighten wvu-bg-pattern-grid bg-wvu-blue
</r:content_for>

<div class="position-relative p-3 <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container wvu-z-index-content">

    <div class="row justify-content-center">
      <div class="col-12 col-md-9 bg-white p-3 p-md-4 shadow" style="border-top: 6px solid var(--wvu-gold)">
        <r:editable_region name="{$componentContent}" scope="{$componentScope}">
          <h2 class="display-3 wvu-shout text-wvu-blue">Action Hero Header</h2>
          <p class="h3 helvetica-neue-light">
            Here is where you explain what is going on.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <a class="btn btn-primary text-white">Button Text</a> <a class="btn btn-secondary text-white">Button Text</a>
        </r:editable_region>
      </div>
    </div>

  </div>
</div>

<r:comment><!-- Pull in component instructions and allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
