<r:partial name="patterns/base/wvu-component-head" />

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  wvu-background-size-cover wvu-bg-pattern-gold text-center text-wvu-blue
</r:content_for>

<r:comment><!-- Actual markup of component --></r:comment>
<div class="position-relative py-5 <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container wvu-z-index-content">
    <r:editable_region name="{$componentContent}" scope="{$componentScope}">
      <h2 class="display-3 wvu-shout">Action Hero Header</h2>
      <p class="h3 helvetica-neue-light my-3">
        Here is where you explain what is going on.
      </p>
      <a href="#" class="btn btn-wvu-blue btn-lg text-white">Button Text</a>
      <p class="mt-4">Have some additional info or secondary link? Enter here.</p>
    </r:editable_region>
  </div>
</div>

<r:comment><!-- Pull in component instructions and allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
