<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  text-white bg-wvu-neutral--dark-gray text-center
</r:content_for>

<r:comment><!-- Provide the content for the header section. --></r:comment>
<r:content_for name="{$headerYield}">
  <h2 class="display-3 wvu-shout">Quicklinks Headline</h2>
  <p class="mt-2">Subhead goes here.</p>
</r:content_for>

<r:comment><!-- Provide the content for the content section. --></r:comment>
<r:content_for name="{$contentYield}">
  <ul>
    <li class="wvu-slash--gold"><a href="#" class="text-white">Quicklink</a></li>
    <li class="wvu-slash--gold"><a href="#" class="text-white">Quicklink</a></li>
    <li class="wvu-slash--gold"><a href="#" class="text-white">Quicklink</a></li>
    <li class="wvu-slash--gold"><a href="#" class="text-white">Quicklink</a></li>
    <li class="wvu-slash--gold"><a href="#" class="text-white">Quicklink</a></li>
    <li class="wvu-slash--gold"><a href="#" class="text-white">Quicklink</a></li>
    <li class="wvu-slash--gold"><a href="#" class="text-white">Quicklink</a></li>
    <li class="wvu-slash--gold"><a href="#" class="text-white">Quicklink</a></li>
    <li class="wvu-slash--gold"><a href="#" class="text-white">Quicklink</a></li>
    <li class="wvu-slash--gold"><a href="#" class="text-white">Quicklink</a></li>
  </ul>
</r:content_for>

<r:comment><!-- Provide the content for the postcript section. --></r:comment>
<r:content_for name="{$postcriptYield}">
  <p class="mb-0">Put additional info or <a href="#">links</a> here.</p>
</r:content_for>

<r:comment><!-- Use the base pattern to define the markup --></r:comment>
<r:partial name="patterns/base/wvu-component-base" />

<r:comment><!-- Pull in component instructions and allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
