<div class="py-5 <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container">

    <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
      <div class="mb-4 wvu-z-index-content">
        <r:editable_region name="{$componentHeader}" scope="{$componentScope}">
          <h2 class="display-3 wvu-shout">Featurettes Headline</h2>
          <p class="mt-2">Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <r:if expr="{{ NOT(BLANK({$loopID})) }}">
      <r:get_page id="{$loopId}">
        <r:children by="name" order="asc" labels="{$contentLabels}" labels_match="all">
          <r:set_var name="itemCount">
            <r:count />
          </r:set_var>
          <r:partial name="utilities/wvu-item-count" />
          <r:partial name="utilities/wvu-get-content" />
        </r:children>
      </r:get_page>
    </r:if>

    <r:if expr="{{ BLANK({$loopID}) }}">
      <r:root>
        <r:descendants by="name" order="asc" labels="{$contentLabels}" labels_match="all">
          <r:set_var name="itemCount">
            <r:count />
          </r:set_var>
          <r:partial name="utilities/wvu-item-count" />
          <r:partial name="utilities/wvu-get-content" />
        </r:descendants>
      </r:root>
    </r:if>

    <r:page:if_has_content_for region="{$componentPostscript}" always_show_in_edit_mode="true">
      <div class="mt-4 wvu-z-index-content">
        <r:editable_region name="{$componentPostscript}" scope="{$componentScope}">
          <p class="mb-0">Put additional info or <a href="#">links</a> here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

  </div>
</div>
