<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  bg-dark text-white wvu-background-position-center wvu-background-size-cover wvu-vignetting--80
</r:content_for>

<r:comment><!-- Actual markup of component --></r:comment>
<div class="jumbotron jumbotron-fluid mb-0 wvu-overflow-hidden wvu-background-size-cover <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <p class="sr-only">Background Image for Hero: <r:var name="bgalt" /></p>
  <div class="container position-relative wvu-z-index-content">
    <div class="row <r:if value1="{$hero_text_alignment}" value2="1" operator="=">justify-content-end</r:if>">
      <div class="col col-md-6">
        <r:editable_region name="wvu-article__header" scope="{$componentScope}">
          <h1 class="display-2 iowan-old-style">Hello, world.</h1>
        </r:editable_region>
        <p class="py-2">
          <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
            <span class="wvu-article__author" itemprop="name">
              <r:page:if_has_content_for region="wvu-article__author--manual">
                <r:page:content name="wvu-article__author--manual" type="simple" /> |
              </r:page:if_has_content_for>
              <r:page:unless_has_content_for region="wvu-article__author--manual">
                <r:article:author_full_name /> |
              </r:page:unless_has_content_for>
            </span> <!-- /.wvu-article__author -->
          </span> <!-- /itemprop="author" -->
          <time class="wvu-article__date" datetime="<r:date_format format="iso8601" value="{article:published_at}" />"><r:date_format format="%A, %B %d, %Y" value="{article:published_at}" error_msg="Not Yet Published" /></time>
        </p> <!-- /.wvu-article__meta -->
        <r:editable_region name="wvu-article__lead" scope="{$componentScope}">
          <p class="h3 helvetica-neue-bold py-2">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        </r:editable_region>
      </div>
    </div>
  </div>
</div>

<r:comment><!-- Pull in component instructions and allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
