<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  text-center
</r:content_for>

<r:set_var name="loopIdName">
  <r:var name="baseComponentName" />_<r:var name="componentNumber" />_id
</r:set_var>

<r:set_var name="loopId">
  <r:page:data name="{$loopIdName}" />
</r:set_var>

<r:set_var name="contentLabels">
  <r:page:slug />-<r:var name="componentName" />
</r:set_var>  <!-- Can we combine this with others like adverts, profiles? -->

<r:set_var name="roundedPhotos" value="false" />

<r:set_var name="readMoreButtonRegionName">
  read-more-<r:var name="baseComponentName" />-<r:var name="componentNumber" />
</r:set_var> <!-- so we can name the editable region that will determine the "Read More" text for each button -->

<r:set_var name="readMoreContent">
  <r:page:content name="{$readMoreButtonRegionName}" />
</r:set_var> <!-- This is the content that is entered into the custom "Read More" button. We can dynamically pull this in when displaying each button -->

<div class="py-5 <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container wvu-z-index-content">

    <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
      <div class="wvu-z-index-content mb-4">
        <r:editable_region name="{$componentHeader}" scope="{$componentScope}">
          <h2 class="display-3 wvu-shout">Profiles Headline</h2>
          <p class="h3 helvetica-neue-light">Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <div class="button-group filter-button-group mb-4">
      <button class="btn btn-sm btn-secondary mb-1" data-filter="*">Show All</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".admissions">Admissions</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".brand-and-trademark-licensing">Brand and Trademark Licensing</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".communications">Communications</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".creative">Creative</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".design">Design</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".digital">Digital</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".health-sciences">Health Sciences</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".leadership">Leadership</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".marketing">Marketing</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".mountaineer-hub">Mountaineer Hub</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".mountaineer-parents-club">Parents Club</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".project-management">Project Management</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".student-financial-support-and-services">Student Financial Support and Services</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".video-and-multimedia-production">Video</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".visitors-center">Visitors Center</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".wvu-beckley">WVU Beckley</button>
      <button class="btn btn-sm btn-secondary mb-1" data-filter=".wvu-keyser">WVU Keyser</button>
    </div>

    <div class="grid row">

      <r:root>
        <r:partial name="utilities/isotope-guts" />
      </r:root>

    </div>

    <r:page:if_has_content_for region="{$componentPostscript}" always_show_in_edit_mode="true">
      <div class="mt-4 wvu-z-index-content">
        <r:editable_region name="{$componentPostscript}" scope="{$componentScope}">
          <p>Put additional info or links here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

  </div>
</div>

<r:comment><!-- Pull in component instructions and allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />

<r:content_for name="page_js">
  <script>
    // init Isotope
    var $grid = $('.grid').isotope({
      // masonry: {
      //   gutter: 20
      // }
      layoutMode: 'fitRows'
    });
    // filter items on button click
    $('.filter-button-group').on( 'click', 'button', function() {
      var filterValue = $(this).attr('data-filter');
      $grid.isotope({ filter: filterValue });
    });
  </script>
</r:content_for>
