<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  py-5
</r:content_for>

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultItemClasses}">
  mb-3
</r:content_for>

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultItemHeaderClasses}">
  h3 iowan-old-style-italic mb-1 wvu-bar
</r:content_for>

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultItemBodyClasses}">

</r:content_for>

<r:set_var name="loopIdName">
  <r:var name="baseComponentName" />_<r:var name="componentNumber" />_id
</r:set_var>

<r:set_var name="loopId">
  <r:page:data name="{$loopIdName}" />
</r:set_var>

<r:set_var name="contentLabels">
  <r:page:slug />-<r:var name="componentName" />
</r:set_var> <!-- Can we combine this with others like adverts, profiles? -->

<r:set_var name="roundedPhotos" value="false" />

<r:set_var name="readMoreButtonRegionName">
  read-more-<r:var name="baseComponentName" />-<r:var name="componentNumber" />
</r:set_var> <!-- so we can name the editable region that will determine the "Read More" text for each button -->

<r:set_var name="readMoreContent">
  <r:page:content name="{$readMoreButtonRegionName}" />
</r:set_var> <!-- This is the content that is entered into the custom "Read More" button. We can dynamically pull this in when displaying each button -->

<div class="<r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container wvu-z-index-content">

    <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
      <div class="wvu-z-index-content mb-2">
        <r:editable_region name="{$componentHeader}" scope="{$componentScope}">
          <h2 class="display-3 wvu-shout">Featurettes Headline</h2>
          <p class="h3 helvetica-neue-light">Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <r:set_var name="itemClassesChecker">
      <r:page:unless_has_content_for region="{$itemClasses}"><r:yield name="{$defaultItemClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$itemClasses}" />
    </r:set_var>

    <r:set_var name="itemHeaderClassesChecker">
      <r:page:unless_has_content_for region="{$itemHeaderClasses}"><r:yield name="{$defaultItemHeaderClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$itemHeaderClasses}" />
    </r:set_var>

    <r:set_var name="itemBodyClassesChecker">
      <r:page:unless_has_content_for region="{$itemBodyClasses}"><r:yield name="{$defaultItemBodyClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$itemBodyClasses}" />
    </r:set_var>

    <r:set_var name="bgPrefix">
      <r:page:slug />-<r:var name="componentName" />
    </r:set_var>

    <r:root>
      <!-- You can set $loopBy to: "name", "slug", "created_at", "updated_at", "sort_order", "template_name", "published_at", "title", "alternate_name", "meta_description", "content_updated_at";
        and $loopOrder to: "asc" or "desc";
        and $loopLabelsMatch to: "any", "all", or "none". -->
      <r:descendants by="{$loopBy}" order="{$loopOrder}" labels="{$contentLabels}" labels_match="{$loopLabelsMatch}" hidden="{$showHidden}">
        <r:set_var name="itemCount">
          <r:count />
        </r:set_var>
        <r:partial name="utilities/wvu-item-count" />
        <div class="row <r:if v1="{$itemCount}" v2="2" op=">"> d-flex</r:if>">

          <r:each>

            <r:set_var name="contentIndex">
              <r:index />
            </r:set_var>

            <r:set_var name="bgurl">
              <r:var name="bgPrefix" />-panel-<r:index />-background
            </r:set_var>

            <r:if v1="{$itemCount}" v2="1" op="!=">
              <div class="<r:var name="columnClasses" /> <r:var name="itemClassesChecker" /> <r:var name="featuretteClasses" /> <r:var name="bgurl" />" <r:partial name="utilities/wvu-bg-styler" />>
            </r:if>

              <r:if expr="{{ NOT(BLANK(thumbnail_url)) }}">
                <div class="mb-1">
                  <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><img src="<r:page:data name="thumbnail_url" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url" />/960x640.jpg, <r:page:data name="thumbnail_url" />/586x286.jpg, <r:page:data name="thumbnail_url" />/381x255.jpg, <r:page:data name="thumbnail_url" />/286x191.jpg, <r:page:data name="thumbnail_url" />/279x186.jpg, <r:page:data name="thumbnail_url" />/217x145.jpg" sizes="960px, (min-width: 768px) 586px" alt="<r:page:data name="thumbnail_alt" />"></a>
                </div>
              </r:if>

              <div class="wvu-z-index-content">
                <<r:page:if_has_content_for region="{$componentHeader}">h3</r:page:if_has_content_for><r:page:unless_has_content_for region="{$componentHeader}">h2</r:page:unless_has_content_for> class="<r:var name="itemHeaderClassesChecker" />" id="<r:page:slug />-<r:page:id />"><r:page:first_non_blank_attr names="alternate_name,name" /></<r:page:if_has_content_for region="{$componentHeader}">h3</r:page:if_has_content_for><r:page:unless_has_content_for region="{$componentHeader}">h2</r:page:unless_has_content_for>>
                <p class="<r:var name="itemBodyClassesChecker" />">
                  <r:if expr="{{ NOT(BLANK(description)) }}"><r:page:data name="description" /></r:if>
                  <r:if expr="{{ BLANK(description) }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</r:if>
                </p>

                <a class="btn btn-primary btn-sm" aria-labelledby="<r:page:slug />-<r:page:id />" href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><r:if expr="{{ NOT(BLANK(link_text)) }}"><r:page:data name="link_text" /></r:if><r:if expr="{{ BLANK(link_text) }}">Read More<span class="sr-only">: <r:page:name /></span></r:if></a>
              </div>

            <r:if v1="{$itemCount}" v2="1" op="!=">
              </div>
            </r:if>

          </r:each>

        </div>

      </r:descendants>
    </r:root>

    <r:page:if_has_content_for region="{$componentPostscript}" always_show_in_edit_mode="true">
      <div class="mt-4 wvu-z-index-content">
        <r:editable_region name="{$componentPostscript}" scope="{$componentScope}">
          <p class="mb-0">Put additional info or <a href="#">links</a> here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

  </div>
</div>

<r:comment><!-- Allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
<r:partial name="utilities/wvu-default-item-classes" />
