<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  text-center
</r:content_for>

<r:set_var name="loopIdName">
  <r:var name="baseComponentName" />_<r:var name="componentNumber" />_id
</r:set_var>

<r:set_var name="loopId">
  <r:page:data name="{$loopIdName}" />
</r:set_var>

<r:set_var name="contentLabels">
  <r:page:slug />-<r:var name="componentName" />
</r:set_var>  <!-- Can we combine this with others like adverts, profiles? -->

<r:set_var name="roundedPhotos" value="false" />

<r:set_var name="readMoreButtonRegionName">
  read-more-<r:var name="baseComponentName" />-<r:var name="componentNumber" />
</r:set_var> <!-- so we can name the editable region that will determine the "Read More" text for each button -->

<r:set_var name="readMoreContent">
  <r:page:content name="{$readMoreButtonRegionName}" />
</r:set_var> <!-- This is the content that is entered into the custom "Read More" button. We can dynamically pull this in when displaying each button -->

<div class="py-5 <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container wvu-z-index-content">

    <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
      <div class="wvu-z-index-content mb-4">
        <r:editable_region name="{$componentHeader}" scope="{$componentScope}">
          <h2 class="display-3 wvu-shout">Profiles Headline</h2>
          <p class="h3 helvetica-neue-light">Subhead goes here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

    <r:get_page id="{$directory_id}">
      <r:children:each>
        <h2><r:page:name /></h2>

        <r:children order="asc" limit="200" by="alternate_name" labels="{$contentLabels}" labels_match="all">

          <r:set_var name="itemCount">
            <r:count />
          </r:set_var>

          <r:partial name="utilities/wvu-item-count" />

          <r:if v1="{$itemCount}" v2="2" op="<=">
            <r:set_var name="columnClasses">
              col-sm-6 col-md-3
            </r:set_var>
          </r:if>

          <r:if v1="{$itemCount}" v2="5" op="=">
            <r:set_var name="columnClasses">
              col-sm-6 col-md-4 col-xl-2
            </r:set_var>
          </r:if>

          <div class="row d-flex justify-content-center">

            <r:each>

              <r:set_var name="contentIndex">
                <r:index />
              </r:set_var>

              <r:page:if_has_content_for region="profile-1__quote">
                <!-- if we only have one profile, and are displaying it as a testimonial, we need to make the column wider -->
                <r:if v1="{$itemCount}" v2="1" op="=">
                  <r:set_var name="columnClasses">
                    col-lg-6 mx-auto
                  </r:set_var>
                </r:if>
              </r:page:if_has_content_for>

              <div class="<r:var name="columnClasses" /> mb-4">

                <r:page:if_has_content_for region="profile-1__quote">

                  <p class="wvu-quote text-center iowan-old-style h4">
                    <r:page:content name="profile-1__quote" />
                  </p>
                  <r:if expr="{{ NOT(BLANK(thumbnail_url_sq)) }}">
                    <div class="mb-1 text-center">
                      <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><img <r:if expr="{{ NOT(BLANK(thumbnail_url_sq)) }}">src="<r:page:data name="thumbnail_url_sq" />/960x960.jpg" alt="<r:page:name />"</r:if> <r:if expr="{{ BLANK(thumbnail_url_sq) }}">src="https://via.placeholder.com/960x960"</r:if>class="rounded-circle shadow text-center w-25" ></a>
                    </div>
                  </r:if>
                  <h3 class="helvetica-neue-light mb-1 text-center h5" id="<r:page:slug />-<r:page:id />"><r:page:name /></h3>
                </r:page:if_has_content_for>
                <r:page:unless_has_content_for region="profile-1__quote">
                  <r:if expr="{{ NOT(BLANK(thumbnail_url_sq)) }}">
                    <div class="mb-1 text-center">
                      <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><img src="<r:page:data name="thumbnail_url_sq" />/960x960.jpg" alt="<r:page:data name="thumbnail_alt" />" class="rounded-circle shadow text-center w-50" ></a>
                    </div>
                  </r:if>
                  <r:if expr="{{ BLANK(thumbnail_url_sq) }}">
                    <div class="mb-1 text-center">
                      <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><img src="<r:image_url name="flying-wv-placeholder.jpg" />" alt="Placeholder" class="rounded-circle shadow text-center w-50" /></a>
                    </div>
                  </r:if>
                  <h3 class="iowan-old-style-italic mb-0 text-center" id="<r:page:slug />-<r:page:id />"><r:page:name /></h3>
                  <r:page:if_has_content_for region="profile-1__title">
                    <p class="helvetica-neue-light"><r:page:content name="profile-1__title" /></p>
                  </r:page:if_has_content_for>
                  <r:if expr="{{ NOT(BLANK(description)) }}">
                    <p class="text-center iowan-old-style my-1">
                      <r:page:data name="description" />
                    </p>
                  </r:if>
                  <r:page:if_has_content_for region="profile-1__phone">
                    <p class="mb-0"><small><i class="fas fa-phone"> <r:page:content name="profile-1__phone" /></i></small></p>
                  </r:page:if_has_content_for>
                  <r:page:if_has_content_for region="profile-1__email">
                    <p class="mb-0"><small><a href="mailto:<r:page:content name="profile-1__email" />"><i class="fas fa-envelope"> <r:page:content name="profile-1__email" /></i></a></small></p>
                  </r:page:if_has_content_for>

                </r:page:unless_has_content_for>

              </div>

            </r:each>

          </div>

        </r:children>
      </r:children:each>
    </r:get_page>

    <r:page:if_has_content_for region="{$componentPostscript}" always_show_in_edit_mode="true">
      <div class="mt-4 wvu-z-index-content">
        <r:editable_region name="{$componentPostscript}" scope="{$componentScope}">
          <p>Put additional info or links here.</p>
        </r:editable_region>
      </div>
    </r:page:if_has_content_for>

  </div>
</div>

<r:comment><!-- Pull in component instructions and allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
