<r:partial name="patterns/base/wvu-component-head" />

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  wvu-background-size-cover wvu-bg-pattern-gold text-wvu-blue
</r:content_for>

<r:comment><!-- Actual markup of component --></r:comment>
<div class="position-relative py-5 <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container wvu-z-index-content">
    <h2 class="display-4 wvu-shout">Contact Us</h2>
    <p class="h3 helvetica-neue-light my-3 mb-0">
      Looking to get ahold of someone from our office? Head over to our <a class="text-wvu-blue text-decoration-underline" href="<r:page:data name="contact_link" />">contact page</a>.
    </p>
  </div>
</div>

<r:comment><!-- Pull in component instructions and allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
