<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<r:comment>
<!-- NOTE: This polyptych can be reused over and over. -->
<!-- You can use this partial multiple times on the same page by setting different... -->
<!-- ...`regionName__base` variables above each partial.  -->
<!-- You can also change the `polyptychItems` to be more than 4 if you like. -->
<!-- Always increase by 4. -->
<!-- Set the scope by defining the `$scope` variable to either `page` or `site`. -->
</r:comment>

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">

</r:content_for>

<r:comment><!-- Count the number of polyptych items (based on page data), use to change adjust layout below --></r:comment>
<r:set_var name="itemCount">
  <r:page:data name="polyptych_1_items" />
</r:set_var>

<r:comment><!-- Adjust layout based on item count i.e. add different classes based on the number of items --></r:comment>
<r:partial name="utilities/wvu-item-count" />

<div class="wvu150-traditions">

  <r:loop:each times="{$itemCount}">

    <r:set_var name="componentPanelPhotoURL">wvu-featurettes_panel_<r:var name="componentNumber" />-<r:item />__photo-url</r:set_var>
    <r:set_var name="componentPanelCopy">wvu-featurettes_panel_<r:var name="componentNumber" />-<r:item />__copy</r:set_var>
    <r:set_var name="componentPanelAlignment">wvu-featurettes_panel_<r:var name="componentNumber" />-<r:item />__alignment</r:set_var>

    <r:edit_mode_only>
      <r:editable_region name="{$componentPanelAlignment}" type="simple" />
      <r:editable_region name="{$componentPanelPhotoURL}" type="simple" />
    </r:edit_mode_only>

    <r:set_var name="tradition_alignment"><r:page:content name="{$componentPanelAlignment}" /></r:set_var>

    <r:set_var name="bgurl">
      <r:var name="componentName">-<r:item />
    </r:set_var>

    <r:if v1="{$tradition_alignment}" v2="right" op="!=">
      <div class="wvu150-traditions__tradition">
        <div class="container d-flex position-relative">
          <div class="wvu150-traditions__photo" <r:partial name="utilities/wvu-bg-styler" />>

          </div>
          <div class="wvu150-traditions__copy">

            <r:editable_region name="{$componentPanelCopy}">
              <h2>Title</h2>
              <p>Copy</p>
            </r:editable_region>

          </div>
        </div>
      </div>
    </r:if>
    <r:if v1="{$tradition_alignment}" v2="right" op="=">
      <div class="wvu150-traditions__tradition wvu150-traditions__tradition--right">
        <div class="container d-flex position-relative">

          <div class="wvu150-traditions__copy">

            <r:editable_region name="{$componentPanelCopy}">
              <h2>Title</h2>
              <p>Copy</p>
            </r:editable_region>

          </div>

          <div class="wvu150-traditions__photo" style="background-image: url(http://<r:site:domain />/files/<r:page:content name="{$componentPanelPhotoURL}" />/960x640.jpg);">

          </div>

        </div>
      </div>
    </r:if>
  </r:loop:each>
</div>

<r:comment><!-- Allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
