<r:if v1="{$componentScope}" v2="site" op="!=">
  <r:partial name="utilities/wvu-default-component-classes" />
</r:if>

<r:if v1="{$componentScope}" v2="site" op="=">
  <r:partial name="utilities/wvu-default-component-classes--site" />
</r:if>
