<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  ???
</r:content_for>

<section class="py-5 <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container wvu-z-index-content">

    <div class="row">

      <r:comment><!-- NOTE: Blog articles use Schema.org's tags to structure your data & help with SEO: http://goo.gl/SKs4Qb --></r:comment>

      <article class="col-md-8" itemscope="" itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
        <div class="wvu-article__body" itemprop="articleBody">
          <r:editable_region name="article-body" />
        </div> <!-- /.wvu-article__body -->
      </article> <!-- /.wvu-article -->

      <aside class="col-md-4">
        <h3>Related Articles</h3>
        <r:blog:articles limit="5" tags="{article:tags}" exclude_ids="{article:id}">
          <r:if_articles>
            <ul>
              <r:each>
                <li><a href="<r:article:path />"><r:article:name /></a></li>
              </r:each>
            </ul>
          </r:if_articles>
        </r:blog:articles>

        <div class="wvu-sub-nav">
          <h3>Archives</h3>
          <r:blog:archive:monthly ul_class="wvu-blog-archive list-unstyled" count_class="wvu-blog-archive__count" />
        </div> <!-- /.wvu-sub-nav -->
      </aside> <!-- /.wvu-sidebar -->

      <r:comment><!-- Need comments for Blog Articles? See https://disqus.com --></r:comment>

    </div>

  </div> <!-- /.wvu-container -->
</section>

<r:comment><!-- Pull in component instructions and allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
