<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  bg-dark text-white wvu-background-position-center wvu-background-size-cover wvu-vignetting--80
</r:content_for>

<r:comment><!-- Actual markup of component --></r:comment>
<div class="jumbotron jumbotron-fluid mb-0 wvu-overflow-hidden wvu-background-size-cover <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container position-relative wvu-z-index-content">
    <div class="row <r:if value1="{$hero_text_alignment}" value2="1" operator="=">justify-content-end</r:if>">
      <div class="col col-md-6">
        <r:editable_region name="{$componentContent}" scope="{$componentScope}">
          <h1 class="display-1 wvu-shout wvu-slash wvu-slash--gold">Hello, world.</h1>
          <p class="lead py-2">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Call to Action</a>
        </r:editable_region>
      </div>
    </div>
  </div>
</div>

<r:comment><!-- Pull in component instructions and allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
