<r:partial name="patterns/base/wvu-component-head" />

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  wvu-background-size-cover wvu-bg-pattern-gold text-center text-wvu-blue
</r:content_for>

<r:comment><!-- Actual markup of component --></r:comment>
<div class="position-fixed" id="play-pause" style="width: 0px; height: 0; top: 9px;"></div>
<div class="position-relative w-100 bg-wvu-neutral--black" style="overflow: hidden;">
    <video class="wvu-background-video w-100" preload="none" loop="loop" poster="https://projectme.wvu.edu/images/posters/ryanotroba-loop-v4-poster.jpg">
      <source src="//s3.amazonaws.com/projectme/ryanotroba-loop-v4.webm" type="video/webm">
      <source src="//s3.amazonaws.com/projectme/ryanotroba-loop-v4.mp4" type="video/mp4">
    </video>
    <!-- IE8 & below fallback -->
    <!--[if lt IE 9]>
      <img src="../images/posters/<r:page:data name="videosrc" />-poster.jpg" alt=" ">
    <![endif]-->

    <a href="#play-pause" id="js-video-loop__controls" class="video-loop__play-button wvu-z-index-content"><span class="sr-only">Play/pause button for background video loop</span></a>

  <div class="w-100 py-5 <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
    <div class="container wvu-z-index-content">
      <r:editable_region name="{$componentContent}" scope="{$componentScope}">
        <h2 class="display-3 wvu-shout">Action Hero Header</h2>
        <p class="h3 helvetica-neue-light my-3">
          Here is where you explain what is going on.
        </p>
        <a href="#" class="btn btn-wvu-blue btn-lg text-white">Button Text</a>
        <p class="mt-4">Have some additional info or secondary link? Enter here.</p>
      </r:editable_region>
    </div>
  </div>
</div>

<r:comment><!-- Pull in component instructions and allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />
