<r:comment><!-- Unique name of component we can reference when styling --></r:comment>
<r:set_var name="componentName">
  <r:var name="baseComponentName" />-<r:var name="componentNumber" /><r:if v1="{$componentScope}" v2="site" op="=">--site</r:if>
</r:set_var>

<r:comment><!-- Define classes that get pulled in to style compoonent --></r:comment>
<r:set_var name="componentClasses">
  wvu-<r:var name="componentName" />-classes
</r:set_var>

<r:comment><!-- Define classes that get pulled in to style compoonent --></r:comment>
<r:set_var name="itemClasses">
  wvu-<r:var name="componentName" />-item-classes
</r:set_var>

<r:comment><!-- Define classes that get pulled in to style compoonent --></r:comment>
<r:set_var name="itemHeaderClasses">
  wvu-<r:var name="componentName" />-item-header-classes
</r:set_var>

<r:comment><!-- Define classes that get pulled in to style compoonent --></r:comment>
<r:set_var name="itemBodyClasses">
  wvu-<r:var name="componentName" />-item-body-classes
</r:set_var>

<r:comment><!-- List of labels that will allow us to assign a background image to the component --></r:comment>
<r:set_var name="bgurl">
  <r:page:slug />-<r:var name="componentName" />-background
</r:set_var>

<r:set_var name="componentBgcolor">
  --wvu-blue
</r:set_var>

<r:set_var name="defaultComponentClasses">
  wvu-<r:var name="componentName" />-default-component-classes
</r:set_var>

<r:set_var name="defaultItemClasses">
  wvu-<r:var name="componentName" />-default-item-classes
</r:set_var>

<r:set_var name="defaultItemHeaderClasses">
  wvu-<r:var name="componentName" />-default-header-classes
</r:set_var>

<r:set_var name="defaultItemBodyClasses">
  wvu-<r:var name="componentName" />-default-body-classes
</r:set_var>

<r:comment><!-- So we can have multiple instances (up to 5) of this region on a page --></r:comment>
<r:set_var name="componentHeader">
  <r:var name="componentName" />__header
</r:set_var>

<r:comment><!-- So we can have multiple instances (up to 5) of this region on a page --></r:comment>
<r:set_var name="componentContent">
  <r:var name="componentName" />__content
</r:set_var>

<r:comment><!-- So we can have multiple instances (up to 5) of this region on a page --></r:comment>
<r:set_var name="componentPostscript">
  <r:var name="componentName" />__postscript
</r:set_var>

<r:comment><!-- So we can have multiple instances (up to 5) of this region on a page --></r:comment>
<r:set_var name="wvuPolyptychPhoto">
  <r:var name="componentName" />__photo-<r:var name="componentNumber" />
</r:set_var>

<r:comment><!-- So we can have multiple instances (up to 5) of this region on a page --></r:comment>
<r:set_var name="wvuPolyptychCopy">
  <r:var name="componentName" />__copy-<r:var name="componentNumber" />
</r:set_var>

<r:comment><!-- In case the component lets the user set the number of items e.g. in a polyptych --></r:comment>
<r:set_var name="polyptychItemsDataName">
  <r:var name="baseComponentName" />_<r:var name="componentNumber" />_items
</r:set_var>

<r:set_var name="headerYield">
  <r:var name="componentName" />_header_yield
</r:set_var>

<r:set_var name="contentYield">
  <r:var name="componentName" />_content_yield
</r:set_var>

<r:set_var name="postscriptYield">
  <r:var name="componentName" />_postscript_yield
</r:set_var>
