<r:comment><!-- So we can define the component name, classes, and background image labels --></r:comment>
<r:partial name="patterns/base/wvu-component-head" />

<div class="py-5 <r:page:unless_has_content_for region="{$componentClasses}"><r:yield name="{$defaultComponentClasses}" /> </r:page:unless_has_content_for><r:page:content name="{$componentClasses}" />" <r:partial name="utilities/wvu-bg-styler" />>
  <div class="container wvu-z-index-content">

    <div id="iewarning" style="display: none;">
      Your browser (Internet Explorer 7) does not display/work correctly with all features of this page. <a href="http://www.browser-update.org/update.html">Learn how to update your browser</a>, download <a href="http://www.google.com/chromeframe?prefersystemlevel=true">Google Chrome Frame</a>, or <a href="http://www.youtube.com/playlist?list=PL2445D945EF409D71">View the WVUToday playlist on Youtube</a>
    </div>
    <noscript><p class="js-warn"><strong>Oops.</strong> You have Javascript disabled. Kindly <a title="Instructions on how to enable javascript" href="http://enable-javascript.com/">enable javascript</a> to view these videos.</p></noscript>
    <div class="wvu-youtube-playlist__container"></div>

  </div> <!-- /.wvu-container -->
</div>

<r:comment><!-- Pull in component instructions and allow user to edit classes for component --></r:comment>
<r:partial name="patterns/base/wvu-component-footer" />

<r:content_for name="page_js">
  <!--[if lt IE 9]>
  		<script src="https://static.wvu.edu/youtube-playlist-player/js/xdr.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
  <![endif]-->
  <!-- YouTube Playlist Player Scripts -->
  <script src="https://www.youtube.com/iframe_api"></script>
  <script>
    var pl_id = "<r:page:data name="playlist_id" />";
  </script>
  <r:include_javascript name="wvu-playlist-player/youtube-playlist-player.min" />
</r:content_for>
